<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提案</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">プロジェクト検索</h1>
        <form method="get" th:action="@{/proposal/submission/searchProject}">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" name="q" th:value="${param.q}" placeholder="Find a repository">
                </p>
                <p class="control">
                    <button type="submit" class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </form>
        <div class="block">
            <div class="card" th:each="project : ${projects}">
                <header class="card-header">
                    <p class="card-header-title" th:text="${project.name}">project name</p>
                </header>
                <div class="card-content">
                    <div class="content" th:text="${project.description}">project description</div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <form th:action="@{/proposal/submission/new}" method="GET">
                            <input type="hidden" th:name="projectId" th:value="${project.id.value}"/>
                            <button>応募</button>
                        </form>
                    </div>
                </footer>
            </div>
        </div>
        <nav class="pagination" role="navigation" aria-label="pagination" th:if="${projects.totalPages > 0}">
            <ul class="pagination-list" th:each="pageNumber : ${pageNumbers}">
                <li>
                    <a class="pagination-link"
                       th:href="@{/proposal/submission/searchProject(p=${pageNumber}, q=${param.q})}"
                       th:classappend="${pageNumber==projects.number + 1} ? 'is-current' : ''"
                       th:text="${pageNumber}">1</a>
                </li>
            </ul>
        </nav>

        <div class="block">
            <a th:href="@{/project/new}">プロジェクト新規作成</a>
        </div>
     </div>
</section>
</body>
</html>